[Unit]
Description = Areyoudeadbot server
After = network.target 
 
[Service]
Type = simple
ExecStart = python <dir>
User = 
Group = 
Restart = on-failure 
RestartSec = 5
TimeoutStartSec = infinity
 
[Install]
WantedBy = multi-user.target 